<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    nav {
      backdrop-filter: blur(8px) saturate(131%);
      -webkit-backdrop-filter: blur(8px) saturate(131%);
      background-color: rgba(0, 0, 0, 0.72);
      -webkit-box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
      -moz-box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
      box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
    }
  </style>

<body>
  <div id="main" class="w-full h-screen bg-[#101010]">
    <div class="px-6 py-4">
      <nav class="flex items-center justify-between">
        <i class="ri-music-2-line"></i>
        <div class="flex items-center gap-8">
          <i class="ri-home-5-line text-3xl"></i>
          <a href=""
            class="h-10 w-10 flex items-center justify-center bg-emerald-800 border border-transparent rounded-full text-white">
            <% var name="Ashish" %>
              <%= name.charAt(0).toUpperCase() %>
          </a>
        </div>
      </nav>
    </div>
    <div class=""></div>
  </div>


</body>

</html>