<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  .create-playlist {
    backdrop-filter: blur(9px) saturate(133%);
    -webkit-backdrop-filter: blur(15px) saturate(133%);
    background-color: rgba(42, 164, 120, 0.1);
  }

  .select-playlist {
    border-radius: 0px;
    background: #282828;
    box-shadow: 10px 10px 20px #202020,
      -10px -10px 20px #202020;
  }
</style>

<body>
  <div class="create-playlist w-full h-full flex items-center justify-center">
    <div class="bg-[#282828] w-[400px] px-5 py-4 rounded-md flex flex-col items-start gap-4">
      <div class="w-full flex items-center justify-between">
        <h1 class="text-xl font-semibold text-white">Edit Details</h1>
        <i class="close-create-playlist ri-close-line text-lg cursor-pointer font-semibold text-white"></i>
      </div>
      <form action="" method="post" class="w-full flex items-start justify-between">
        <div
          class="select-playlist select-playlist-left relative drop-shadow-md h-36 w-[40%] flex items-center justify-center rounded">
          <div
            class="playlist-edit-menu cursor-pointer hidden absolute top-1 right-3 text-white rotate-90 px-1 py-1 bg-black/70 rounded-full">
            <i class="ri-more-2-line"></i>
          </div>
          <div
            class="choose-options select-playlist hidden absolute flex items-start justify-center flex-col text-sm py-2 rounded -right-[108px] top-10 text-white text-nowrap">
            <a class="hover:bg-[#3E3E3E] px-4 py-2" href=""><i class="ri-file-image-line"></i> &nbsp; Change photo</a>
            <a class="hover:bg-[#3E3E3E] px-4 py-2" href=""><i class="ri-delete-bin-line"></i> &nbsp; Delete photo
              &nbsp;</a>
          </div>
          <label class="upload-img w-full h-full flex items-center justify-center cursor-pointer" for="image">
            <i class="music-icon ri-music-2-line text-[#464646] text-4xl font-semibold"></i>
            <div class="img-icon hidden flex items-center flex-col cursor-pointer text-white">
              <i class="ri-file-image-line text-xl"></i>
              <div class="text-sm">Choose Image</div>
            </div>
          </label>
          <input class="hidden" type="file" name="image" id="image">
        </div>
        <div class="w-[55%] select-playlist h-36 rounded px-3 py-2 flex items-end flex-col justify-between">
          <div>
            <label class="text-sm text-white/50" for="playlist-name">Name</label>
            <input
              class="w-full mt-2 h-7 rounded-sm bg-[#3E3E3E] text-white text-sm px-2 outline-none border border-[#3E3E3E] focus:border-white/50"
              type="text" value="My Playlist #1" id="playlist-name">
          </div>
          <input class="bg-white rounded-full px-6 py-1 cursor-pointer" type="submit" value="Save">
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    let uploadImg = document.querySelector(".upload-img");
    let musicIcon = document.querySelector(".music-icon");
    let imgIcon = document.querySelector(".img-icon");
    let selectPlaylistLeft = document.querySelector(".select-playlist-left");
    let playlistEditMenu = document.querySelector(".playlist-edit-menu");
    let chooseOptions = document.querySelector(".choose-options")

    uploadImg.addEventListener("mouseenter", function () {
      musicIcon.classList.add("hidden");
      imgIcon.classList.remove("hidden");
    });
    uploadImg.addEventListener("mouseleave", function () {
      musicIcon.classList.remove("hidden");
      imgIcon.classList.add("hidden")
    })

    selectPlaylistLeft.addEventListener("mouseenter", function () {
      playlistEditMenu.classList.remove("hidden");
    })
    selectPlaylistLeft.addEventListener("mouseleave", function () {
      playlistEditMenu.classList.add("hidden");
    })

    let flag = true;
    playlistEditMenu.addEventListener("click", function () {
      if (flag) {
        chooseOptions.classList.remove("hidden");
        flag = false
      } else {
        chooseOptions.classList.add("hidden");
        flag = true
      }
    })
  </script>
</body>

</html>