<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="relative overflow-hidden selection:text-emerald-700">

  <div class="w-full h-full bg-[#101010] flex flex-row items-start max-[1000px]:flex-col">

    <!-- Menu section -->
    <%- include("./Home/menu/menu.ejs") %>

      <!-- songs -->
      <%- include("./Home/song/song.ejs") %>
  </div>

  <div class="show-create-playlist absolute top-0 left-0 w-full h-full hidden"><%- include("./createPlaylist.ejs") %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="/javascripts/home.js"></script>
</body>

</html>