<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<style>
  .upload {
    backdrop-filter: blur(8px) saturate(131%);
    -webkit-backdrop-filter: blur(8px) saturate(131%);
    background-color: rgba(0, 0, 0, 0.72);
  }
</style>

<body class="bg-[#101010] min-h-screen flex items-center justify-center">

  <div class="upload shadow-md rounded-lg p-8 max-w-lg w-full">
    <h1 class="text-2xl font-semibold text-white text-center mb-6">Upload Your Track</h1>

    <form id="uploadForm" action="/music/upload" method="POST" enctype="multipart/form-data" class="space-y-4">
      <!-- Track File -->
      <div>
        <label for="track" class="block text-sm font-medium text-gray-300">Upload Track</label>
        <input type="file" id="track" name="track"
          class="mt-1 block w-full px-4 py-2 text-gray-500 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          multiple accept="audio/*">
        <p id="fileLimitWarning" class="text-red-500 text-sm mt-1 hidden">You can only upload up to 5 tracks.</p>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button type="submit"
          class="w-full bg-indigo-600 hover:bg-indigo-700 text-white py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Upload Track
        </button>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('track').addEventListener('change', function () {
      const maxFiles = 5;
      const fileLimitWarning = document.getElementById('fileLimitWarning');

      if (this.files.length > maxFiles) {
        fileLimitWarning.classList.remove('hidden');
        this.value = '';
      } else {
        fileLimitWarning.classList.add('hidden');
      }
    });
  </script>

</body>

</html>