<div
  class="songs hide-songs w-full h-full p-10 pr-16 pt-6 relative flex flex-col gap-6 max-[1260px]:px-6 max-[660px]:px-3 max-[560px]:py-4 max-[560px]:gap-0">

  <!-- top-part username and profile -->
  <%- include("./songResponsive/topPart.ejs") %>

    <!-- 560px minus -->
    <%- include("./songResponsive/minus560.ejs") %>

      <!-- 560px plus -->
      <%- include("./songResponsive/plus560.ejs") %>
</div>