<div class="text-white flex items-center justify-between max-[560px]:w-full ">
  <div class="text-emerald-400 max-[560px]:hidden">
    Welcome, <%= username %>
  </div>
  <div class="flex items-start gap-8 max-[560px]:w-full max-[560px]:justify-between">
    <form action="/home/search" method="get">
      <div class="relative w-60 z-0 mb-5 group max-[340px]:w-40">
        <input type="search" name="search" id="floating_search" autocomplete="off"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-emerald-500 focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
          placeholder=" " required />
        <label for="floating_search"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Search</label>
      </div>
    </form>
    <a href="/profile"
      class="h-10 w-10 flex items-center justify-center bg-emerald-800 border border-transparent rounded-full">
      <%= username.charAt(0).toUpperCase() %>
    </a>
  </div>
</div>