<div class="flex flex-col gap-8 max-[1000px]:hidden">
  <div class="text-white flex flex-col gap-3 text-sm">
    <div class="text-emerald-100 tracking-[0.15rem] font-mono uppercase font-semibold">Menu</div>
    <div class="flex flex-col gap-4 text-[13px] font-semibold text-white/60">
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-compass-line"></i>
          Explore</a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-volume-up-line"></i>
          Genres</a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-album-line"></i> Albums
        </a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-mic-line"></i> Artists
        </a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-radio-2-line"></i> Radio
        </a>
      </div>
    </div>
  </div>
  <div class="text-white flex flex-col gap-3 text-sm">
    <div class="text-emerald-100 tracking-[0.15rem] font-mono uppercase font-semibold">Library</div>
    <div class="flex flex-col gap-4 text-[13px] font-semibold text-white/60">
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-history-line"></i>
          Recent</a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-disc-line"></i> Albums
        </a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-heart-3-line"></i>
          Favourites</a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-folder-music-line"></i>
          Local</a>
      </div>
    </div>
  </div>
  <div class="text-white flex flex-col gap-3 text-sm">
    <div class="text-emerald-100 tracking-[0.15rem] font-mono uppercase font-semibold">Playlist</div>
    <div class="flex flex-col gap-4 text-[13px] font-semibold text-white/60">
      <div class="flex flex-row items-center">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <div
          class="create-new-playlist flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max cursor-pointer">
          <i class="ri-folder-add-line"></i>
          Create New
        </div>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-pantone-line"></i>
          Playlist 1</a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="" class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-pantone-line"></i>
          Playlist 2</a>
      </div>
      <div class="flex flex-row items-center ">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <a href="/playlist/show"
          class="flex flex-row items-center gap-4 hover:text-emerald-500 hover:duration-200 w-max"><i
            class="ri-folder-chart-line"></i>
          All Playlists</a>
      </div>
    </div>
  </div>
  <div class="text-white text-sm">
    <a href="/logout"
      class="text-white text-sm cursor-pointer tracking-[0.15rem] font-mono uppercase font-semibold px-5 py-2 bg-[#065F46]">Logout</a>
  </div>
</div>